{
  "presets": [
    ["env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "minified": true,
  "compact": true,
  "sourceMaps": true,
  "comments": false,
  "ignore": ["node_modules/**", "*.ts"]
}
