{
    "presets": ["es2015", "es2016", "es2017", "flow"],
    "ignore": [
        "static/images/*",
        "static/scss/*",
        "templates/*",
        "*.py",
        "*.sh",
        "*.txt",
        "*.cfg"
    ]
}
// vim: ft=json
