# editorconfig.org

# top-most editorconfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
tab_width = 4

[*.vorg]
indent_size = 4
tab_width = 8
trim_trailing_whitespace = false

[*.{js,ts,jsx,json,css,md,yml}]
indent_size = 2
indent_style = space
tab_width = 4
trim_trailing_whitespace = true

[*.{rs,py}]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.{wiki,rst}]
indent_size = 4
indent_style = tab
trim_trailing_whitespace = true

[*.{sh,zsh,yml,yaml}]
indent_size = 2
indent_style = space
max_line_length = 120
trim_trailing_whitespace = true

[*.vim]
indent_size = 4
indent_style = tab
trim_trailing_whitespace = false

[{makefile,makefile}]
indent_size = 2
indent_style = space

# vim plugin supports the following editorconfig properties:
#	- indent_style
#	- indent_size
#	- tab_width
#	- end_of_line
#	- charset
#	- insert_final_newline (feature +fixendofline (available on vim 7.4.785+) 
#	  or preservenoeol is required for this property)
#	- trim_trailing_whitespace
#	- max_line_length
#	- root (only used by editorconfig core)
