# EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
tab_width = 4

[*.vorg]
trim_trailing_whitespace = false
tab_width = 8
indent_size = 4

[*.js]
trim_trailing_whitespace = true
tab_width = 4
indent_size = 2

[*.{rs}]
trim_trailing_whitespace = true
indent_size = 4
indent_style = space

[*.{md,wiki,rst}]
trim_trailing_whitespace = true
indent_size = 4
indent_style = tab

[*.{sh,zsh}]
trim_trailing_whitespace = true
indent_size = 2
indent_style = space
max_line_length = 80

[*.{vim}]
trim_trailing_whitespace = false
indent_size = 4
indent_style = tab

[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
max_line_length = 79

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

# Indentation override for all JS under lib directory
# [lib/**.js]
# indent_style = space
# indent_size = 2

# Vim plugin supports the following EditorConfig properties:
#	- indent_style
#	- indent_size
#	- tab_width
#	- end_of_line
#	- charset
#	- insert_final_newline (Feature +fixendofline (available on Vim 7.4.785+) 
#	  or PreserveNoEOL is required for this property)
#	- trim_trailing_whitespace
#	- max_line_length
#	- root (only used by EditorConfig core)
