{
	"root": true,
	"plugins": [
		"node",
		"jest",
		"compat",
		"react",
		"smells",
		"promise",
		"babel",
		"mongodb",
		"optimize-regex",
		"json",
		"fp",
		"filenames"
	],
	"extends": [
		"plugin:node/recommended",
		"plugin:import/errors",
		"plugin:import/warnings",
		"plugin:jest/recommended",
		"plugin:react/recommended",
		"plugin:fp/recommended",
		"plugin:promise/recommended"
	],
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"mongo": true,
		"mocha": true,
		"es6": true,
		"jquery": true,
		"node": true
	},
	"parserOptions": {
		"ecmaVersion": 8,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		},
		"codeFrame": false

	},
	"rules": {
		"arrow-spacing": 1,
		"brace-style": [2, "stroustrup"],
		"comma-spacing": [1, { "before": false, "after": true }],
		"comma-style": [2, "last"],
		"comma-dangle": [1, "always-multiline"],
		"curly": 1,
		"default-case": 1,
		"eqeqeq": [2, "always"],
		"func-style": [2, "declaration", { "allowArrowFunctions": true }],
		"indent": [1, 4],
		"key-spacing": 1,
		"keyword-spacing": 1,
		"linebreak-style": [2, "unix"],
		"no-dupe-args": 2,
		"no-duplicate-case": 2,
		"no-duplicate-imports": 1,
		"no-empty": 2,
		"no-empty-function": 2,
		"no-empty-pattern": 1,
		"no-extra-boolean-cast": 2,
		"no-extra-label": 1,
		"no-extra-parens": 2,
		"no-extra-semi": 1,
		"no-invalid-regexp": 2,
		"no-redeclare": 2,
		"no-regex-spaces": 1,
		"no-return-assign": 2,
		"no-undefined": 2,
		"no-unreachable": 2,
		"no-unused-expressions": 1,
		"no-unused-vars": 1,
		"no-use-before-define": 2,
		"no-useless-concat": 1,
		"no-useless-escape": 1,
		"no-useless-return": 1,
		"prefer-numeric-literals": 1,
		"quotes": [1, "double"],
		"semi": [1, "never"],
		"sort-imports": 1,
		"strict": 0,
		"vars-on-top": 2,
		"yoda": [1, "never"],
		"node/shebang": 2,
		"node/no-missing-import": 2,
		"node/no-unpublished-require": 2,
		"node/no-unpublished-import": 2,
		"node/no-missing-require": 2,
		"compat/compat": 2,
		"smells/no-switch": 1,
		"smells/no-complex-switch-case": 1,
		"smells/no-setinterval": 1,
		"smells/no-complex-chaining": 1,
		"smells/no-this-assign": 1,
		"babel/new-cap": 1,
		"babel/object-curly-spacing": 1,
		"babel/no-invalid-this": 1,
		"fp/no-arguments": 2,
		"fp/no-class": 2,
		"fp/no-delete": 2,
		"fp/no-events": 2,
		"fp/no-get-set": 2,
		"fp/no-let": 2,
		"fp/no-loops": 2,
		"fp/no-mutating-assign": 2,
		"fp/no-mutating-methods": 2,
		"fp/no-mutation": 2,
		"fp/no-nil": 2,
		"fp/no-proxy": 2,
		"fp/no-rest-parameters": 2,
		"fp/no-this": 2,
		"fp/no-throw": 2,
		"fp/no-unused-expression": 2,
		"fp/no-valueof-field": 2,
		"no-var": 2,
		"babel/semi": 1,
		"filenames/match-regex": 2,
		"filenames/match-exported": 2,
		"filenames/no-index": 2,
		"optimize-regex/optimize-regex": 1
	}
}
