[flake8]
exclude = .git,__pycache__,docs,.svn,CVS,.bzr,.hg,.tox,.eggs,*.egg,manage.py
max-line-length = 120
# F812: list comprehension redefines ...
# H301: one import per line
# H306: imports not in alphabetical order (time, os)
# H401: docstring should not start with a space
# H403: multi line docstrings should end on a new line
# H404: multi line docstring should start without a leading new line
# H405: multi line docstring summary not separated with an empty line
# W503: line break before binary operator
# E203: whitespace before ':'
# E501: line too long
ignore = F812,H301,H306,H401,H403,H404,H405,E501,E203,W503
# vim: ft=cfg
