[submodule ".config/ranger"]
    path = .config/ranger
    url = https://github.com/nl253/RangerConfig

[submodule ".vim"]
    path = .vim
    url = https://github.com/nl253/Vim

[submodule ".config/makefiles"]
    path = .config/makefiles
    url = https://github.com/nl253/Makefiles

[submodule ".config/css"]
	path = .config/css
	url = https://github.com/nl253/Stylesheets

[submodule ".config/cron"]
    path = .config/css
    url = https://github.com/nl253/cron-jobs
