# Password storage

.netrc

# Build

out/
target/
build/
dist/

# Extensions

*.bak
*.ctxt
*.pdf

# Images

*.png
*.jpg
*.svg
*.xfc
*.xcf

# Microsoft Office

*.ppt
*.pptx

# VCS

.git-credentials
.gitignores/.github/PULL_REQUEST_TEMPLATE.md

# X11

.xscreensaver

# Node.js

.nvm/
.v8flags*
.node_repl*
.node-gyp/
.npmrc
node_modules/
.npm/

# Go

go/
.gvm/

# Haskell

.ghc-mod/
.stack/
.ghc/
.cabal/

# Python

*.ropeprojec*
*anaconda*
.cookiecutter*
.ipython/
.jupyter/
.pyenv/
.pylint.d/
.python-version
PyComLine
anaconda3/
miniconda3/

# Version Control Systems

.subversion/
.git/
.svn/
.hg/

# Browsers

.elinks/
.tor-browser/

# Gnome

.gnome/
*/undo/*
*/wn/*
*breakpoints*
*session*
.*.tmp
.ICEauthority
.Notes_html/
.Trash-*
.Xauthority
.applications/
.aspell.*
.athome
.autojump/
.bundle/
.cabal/packages/
.case/
.conda/environments.txt
.inspections.xml
.vorg/tasks.vorg

# Log

**/log
**/*.log
**/*-log

# Java

.java/
*.bluej
*.class
.oracle_jre_usage/

# Maven

.m2/ 



# Binaries

.bin/

# Rust

.multirust/
.rustup/
.cargo/

# Libraries


# Linters

.proselint/

# Config

.local/share/applications/
.local/lib/
.local/include/
*vorg*
*JetBrains*
*gnome*
*hexchat*
*libre*
.config/goa*
.config/manja*
.config/htop/
*gtk-3*
.local/bin/
.local/share/doc/
.local/share/recently-used.xbel
.stack-work/
.cache/
.astropy/
.config/Trolltech.conf
.config/Kvantum/
.config/qt5ct/
.config/spotify/
.local/share/icc/
.local/share/ranger/
.local/share/tracker/
.local/share/keyrings/
.local/share/man/
.local/share/heroku/
.local/share/fzf/

# Libreoffice

# Manjaro



# PHP


# History

.netrwhist
.*_history
*history*
.*-history

.nfs*
.pc
.pdepend/
.pki/
.rnd
.scripts/
.split
.sqlite
.ssh/
.swt/
.task/
.templateengine/
.thumbnails/
.tmux/
.tooling/
.travis/
.v8flags.5.8.283.41.norbert.json

# Text editors

# Eclipse
.eclim/
.eclipse/

# Vim
*~
tags
.viminfo
.vimtags
undo/*

# Nvim
.local/share/nvim/shada
.local/share/nvim/rplugin.vim

# Jetbrains 
.idea/
*.iml

# Emacs
.emacs.d/
.emacs.desktop

# Desktop env

.xmonad/
.xsession-error*

# Dirs

Downloads/
Dump/
nltk_data/
seaborn-data/
Projects/
Raptor/
Pictures/
Downloads/
Documents/
Notes/
Libraries/
Uni/

.julia/

# UML editors
.yEd/
.zenmap/

.3T/
.p2/
.xxx/
.*201*/
.mozilla/
.zcompdump

# Ruby

.rbenv/
.gem/

# Cloud storage

.gdrive/
OneDrive/
Dropbox/
.dropbox/
.dropbox
.dropbox*

# PostgreSQL

.pgpass

# Node.js

.yarn/
.yarnrc

# Rubbish

*.backup
*-lock.*
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
Empty*
*.swp
.wget*

# Jetbrains

.PhpStorm*
.DataGrip*
.Gogland*
.IdeaIC*
.IntelliJIdea2017.2/
.PyCharm2017*
.Rider*
.RubyMine*
.WebStorm*
.CLion*
.WebStorm*

# Archives

*.zip
*.tar
*.[xg7]z
*.bz2

# LaTeX

.texlive/

# PHP

.local/share/composer

# Configuration

.config/composer/.htaccess
.config/configstore/update-notifier-npm.json
.config/dconf
.config/gconf
.config/hub
.config/kdeglobals
.config/kmixrc
.config/menus/
.config/pulse/
.config/user-dirs.locale
.dbshell
.dicts/
.directory
.dlv/
.dmenurc
.dmrc
.esd_auth
.fonts/
.fuse_hidden*
.fzf/
.gcalcli*
.gimp*
.gists/
.git-stats
.gitbook/
.gksu*
.gnupg/
.grip/
.gtkrc*
.home
.icons/
.idlerc/
.laptop
.lesshst
.local/share/gegl-0.2
.local/share/gsettings-data-convert
.local/share/gvfs-metadata/
.local/share/vlc
.local/share/webkitgtk
.local/share/xorg
.nv/
.steam/
.thunderbird/
boosterclapps/

.config/css/
.config/ranger/
.config/makefiles/
.config/nvim/
.config/google-chrome*
.config/ipynb_checkpoints/
.dialyzer_plt 
octave-workspace
.local/share/RecentDocuments
.local/share/Trash
.local/share/grilo-plugins
.local/man/
.gradle/
.hoogle/
.ipynb_checkpoints
.keras/datasets
.gd/credentials.json
.config/oni/
.elvish/db
.netbeans
.config/xbuild/pkgconfig-cache-2.xml
.android/
.config/NuGet/
.config/QtProject.conf
.config/autostart/
.config/configstore/
.config/efince/
.config/gthumb/
.config/gtk-2.0/
.config/kdenliverc
.config/knfsshare
.config/octave/
.config/onedrive/
.config/python/venvs/
.config/totem/
.config/vlc/vlc-qt-interface.conf
.erlang.cookie
.h2.server.properties
.intellij-haskell/
.local/etc/
.local/share/Oni/
.local/share/h2/
.local/share/jupyter/
.local/share/mime/packages/video-mpeg.xml
.local/share/mime/video/
.local/share/plant-uml/
.local/share/tor-browser/
.local/share/user-places.xbel
.local/share/user-places.xbel.tbcache
.nuget/
.octave_hist
.oni/config.js
.config/evince/accels
.config/evince/
