*.bluej
*.class
*.ctxt
*.ppt
*.pptx
*.xml
.IdeaIC*
.Xauth*
.Xclien*
.Xreso*
.Xresources
.aspell.en.prepl
.aspell.en.pws
.autojump
.bash_history
.bash_it
.bash_logout
.bash_profile
.bashrc
.bashrc.backup
.bluej
.cabal
.cache
.cargo
.config
.config/ranger/rc.conf
.conkyrc
.dialogrc
.dmenurc
.dmrc
.dropbox
.dropbox-dist
.elinks
.emacs.d
.extend.*
.fehbg
.fonts
.fzf/
.gcalcli*
.gdrive*
.gem
.ghc/ghci_his*
.gimp-2.8
.gist-vim
.git-stats
.git-templates
.gitconfig
.gitsomeconfig
.gksu.lock
.gnome
.gnupg
.gtkrc-2.0
.i3/config
.i3status.conf
.icons
.ideavimrc
.inputrc
.ipython
.irssi
.java
.jupyter
.lesshst
.local
.macromedia
.moc
.mycli-his*
.mycli.log
.myclirc
.netrc
.node*
.npm
.oh-my-zsh
.pdepend
.pki
.profile
.proselint/
.proselint/*
.pyenv
.python-version
.python_history
.rustup
.semantic-highlight-cache
.simplenoterc
.sncli/sncli.log
.snclirc
.spacemacs
.ssh/
.ssh/*
.task/backlog*
.task/vim_tw*
.taskrc
.tigrc
.tmux.conf
.tmux/plugins
.tmuxinator
.vim/
.vim/*
.vim/ftdet*
.vim/indent
.vim/syntax
.viminfo
.vimrc
.vimtags
.wgetrc
.xbindkeysrc
.xinitrc
.xmonad/xmonad-*
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.hs
.xmonad/xmonad.o
.xmonad/xmonad.state
.xonsh*
.xprofile
.xsession
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump*
.zcompdump_capture
.zsh-update
.zsh/zsh-auto*
.zsh_his*
.zshenv
.zshrc
.zshrc.pre*
.zshrc.pre-oh-my-zsh
BackupUtils
CrispyLand
DictGen
Documents
Downloads
Dropbox/.directory
Dropbox/.dropbo*
Dropbox/Backup/.ipython/profile_default/db/dhist
Dropbox/Backup/.ipython/profile_default/his*
Dropbox/Backup/.vim
Dropbox/Backup/UltiSnips
Dropbox/Backup/installed-at-raptor.txt
Dropbox/BackupUtils
Dropbox/CrispyLand
Dropbox/DictGen
Dropbox/Mackup/.ipython/profile_default/db/dhist
Dropbox/Mackup/.ipython/profile_default/his*
Dropbox/Mackup/.oh-my-zsh
Dropbox/Mackup/.vim
Dropbox/gitignore
Dropbox/nl253
IdeaProjects
OneDrive/
Pictures
PyComLine
Raptor
Scripts
alacritty
generate-inputrc.sh
local-path.txt
nl253
raptor-path.txt
setup-pyenv.sh
