*.bluej
anaconda3/
.laptop
.pc
.tor-browser/
.steam/
.sqlite
.athome
.xiki/
.cookiecutter*
.config/pulse/
.config/urxvtconfig/
.dbshell
.split
.rnd
.keras/
.grip/
.swt/
.tooling/
.config/konsolerc
.config/gocode/
.config/gnome-boxes/
.*.tmp
.esd_auth
.vagrant.d/
.cs_cache
.ICEauthority
VMs/
.dlv/
.travis/
.ipython/profile_me/db/dhist
.PyCharm2017.1/
.PhpStorm2017.1/
.ipython/profile_me/startup/README
.PyCharmCE2017.1/
.steam*
vimwiki/
.config/kdeglobals
.config/QtProject.conf
.eclipse/
.eclim/
.stack/
workspace/
.thumbnails/
go/
.nvimlog
.newsbeuter/
tags
vimwiki_html/
.gitignores/.github/PULL_REQUEST_TEMPLATE.md
nltk_data/
boosterclapps/
.applications/
Projects/
.dicts/
.vim/
.bin/*
.bin/
*.ropeprojec*
*breakpoints*
.config/hub
.zsh/zsh-interactive-cd.plugin.zsh
.Xauthority
.local/include/python*
.task/
.config/nvim/spell/en.utf-8.add.spl
Regular-Expressions/
.config/fish/
.config/fisherman/
.qfc/
xiki-project/
xiki/
.zsh/zsh-autosuggestions
.zshrc.pre-oh-my-zsh
.fzf/
.config/epdfview/main.conf
.config/mimeapps.list
.oh-my-zsh/
.homesick/
miniconda3/
.pip/zsh-cache
.z
.config/fish/fishd.*
.conf/fontconfig/
.config/fontconfig/
.config/ranger/bookmarks
.icons/
.tmux/
*.class
*.ctxt
Notes/
*.ppt
*.pptx
*.xml
.dropbox
.dropbox-dist
Downloads
Dropbox/
IdeaProjects
OneDrive/
Pictures
PyComLine
Raptor
Scripts
.alacritty
nl253
.IdeaIC*
.cache
.autojump/
.local/share/autojump/
.local/share/clipit/
.local/share/composer/
.local/share/vimshell/
.macromedia
.mycli.log
.mycli-history
.python-version
.python_history
.xmonad/
.zsh-update
.zsh_history
.fonts/
.xsession-error*
.zcompdum*
.viminfo
.vimtags
.jupyter/migrated
.local/share
.node_repl*
.config/okular*
.config/dconf/user
.config/user-dirs*
.config/configstore/
.config/autostart/
.cargo/git/
.cargo/transmission/
.config/turtl/
.config/whoozle*
.config/volumeicon*
.sncli/sncli.log
.ipython/profile_default/db*
.ipython/profile_default/startup/README
.xonsh_man_completions
.semantic-highlight-cache
.lesshst
.gtkrc*
.config/enchant/
.config/ranger/tagged
.config/composer/
.ghc/
.cabal/
*~
node_modules/
.wget*
*.backup
.config/google-chrome/
.gem/
.local/lib/
.config/libreoffice/
.config/onedrive/
.config/nitrogen/
.config/manjaro*
.config/qtct/
.config/qupzilla/
.config/sublime-text-3/
.local/bin/
.cabal/packages/
.config/dmenu-recent/
.config/gtk*
.config/htop/
.ssh/
.gcalcli*
.config/systemd/
.config/qt5ct/
*.bak
*.log
.pyenv/
*history*
.config/spotify/
.xonsh_history.json
.gitstats
.git-stats
.gist-vim
.gnupg/
.gnome/
.java/
.local/share/Trash/
.bashrc.backup
.bash_history
.config/nvim/init.vim.backup
.config/nvim/dicts/scheme.*
.config/nvim/dicts/cpp*
.config/nvim/dicts/scala.*
.gimp*
.local/share/applications/
.config/psysh/
.config/menus/
.config/transmission/
.config/user-dirs.locale
.local/share/icons/
.local/share/keyrings/
.local/share/gvfs*
.local/share/nvim/
.cargo/registry/
.local/share/xonsh/
.npm/
.proselint/
.pki/
.pdepend/
.rustup/
.config/Trolltech.conf
.config/copyq/
.config/nvim/dicts/c.*
.elinks/
.gdrive/
.gksu*
.local/share/xorg/

# vim: ft=conf nospell

