let mapleader = " "
set clipboard=unnamedplus,unnamed
set diffopt=filler,vertical
set foldmethod=marker
set gdefault
set scrolloff=11
set sidescrolloff=30
set history=100
set undolevels=1000
set hidden
set incsearch
set hlsearch
set ignorecase
set lazyredraw
set matchpairs+=<:>
set noerrorbells
set norelativenumber
set nospell
set nostartofline
set number
set spelllang=en_gb
set surround mps+=<:>
set virtualedit=all
set visualbell
set wildmode=full
set wrap

" preserve ideavim defaults
nnoremap g<c-o> <c-o>
nnoremap g<c-i> <c-i>

nnoremap J :action EditorJoinLines<CR>

nnoremap <Esc> <Esc>:action HideSideWindows<CR>

" just like in vim
nnoremap ]] :action MethodDown<CR>
nnoremap [[ :action MethodUp<CR>

" just like in vim
nnoremap g; :action JumpToLastChange<CR>
nnoremap g, :action JumpToNextChange<CR>

" just like in vim
nnoremap <c-o> :action Back<CR>
nnoremap <c-i> :action Forward<CR>
" vim: noreadonly modifiable
