# do not bell on tab-completion
#set bell-style none

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set meta-flag on
set input-meta on
set convert-meta off
set output-meta on

$if mode=emacs

# for linux console and RH/Debian xterm
"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[5~": beginning-of-history
"\e[6~": end-of-history
"\e[7~": beginning-of-line
"\e[3~": delete-char
"\e[2~": quoted-insert
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
"\e[1;5C": forward-word
"\e[1;5D": backward-word

# for rxvt
"\e[8~": end-of-line

# for non RH/Debian xterm, can't hurt for RH/DEbian xterm
"\eOH": beginning-of-line
"\eOF": end-of-line

# for freebsd console
"\e[H": beginning-of-line
"\e[F": end-of-line
$endif
set expand-tilde on
# Be more intelligent when autocompleting by also looking at the text after
# the cursor. For example, when the current line is "cd ~/src/mozil", and
# the cursor is on the "z", pressing Tab will not autocomplete it to "cd
# ~/src/mozillail", but to "cd ~/src/mozilla". (This is supported by the
# Readline used by Bash 4.)
set skip-completed-text on
set echo-control-characters off
# If there are more than 250 possible completions for a word, ask to show them all
set completion-query-items 250
# Show all autocomplete results at once
set page-completions off
# Immediately add a trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on
set bell-style none 
# Make Tab autocomplete regardless of filename case
set completion-ignore-case on 
# Show extra file information when completing, like `ls -F` does
set visible-stats on
set colored-stats on
# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on
set show-all-if-unmodified on
set colored-completion-prefix on
