{
  "rules": {
    "at-rule-no-vendor-prefix": true,
    "color-named": "never",
    "declaration-no-important": true,
    "font-family-name-quotes": "always-where-required",
    "font-weight-notation": "named-where-possible",
    "function-url-quotes": "always",
    "max-line-length": 80,
    "max-nesting-depth": 3,
    "property-no-vendor-prefix": true,
    "selector-attribute-quotes": "never",
    "selector-max-compound-selectors": 3,
    "selector-no-vendor-prefix": true,
    "string-quotes": "single",
    "unit-blacklist": [
      "cm",
      "mm",
      "in",
      "pt",
      "pc"
    ],
    "value-no-vendor-prefix": true
  }
}
