#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

# colors
XTerm*background: #000000
XTerm*foreground: #ffffff
#XTerm*pointerColor: Orange

XTerm.vt100.color0: #000000
XTerm.vt100.color1: #ce1e1e
XTerm.vt100.color2: #56bf2a
XTerm.vt100.color3: #eef207
XTerm.vt100.color4: #443bed
XTerm.vt100.color5: #c200c6
XTerm.vt100.color6: #00ddcb
XTerm.vt100.color7: #424242

# Bright colors
XTerm.vt100.color8: #666666
XTerm.vt100.color9: #f96868
XTerm.vt100.color10: #68ff95
XTerm.vt100.color11: #e7c547
XTerm.vt100.color12: #5998ff
XTerm.vt100.color13: #fda8ff
XTerm.vt100.color14: #35e0ff
XTerm.vt100.color15: #2a2a2a

# XTerm.vt100.metaSendsEscape: true
# XTerm.vt100.backarrowKey: false
# XTerm.ttyModes: erase ^?

XTerm*faceName: Fixed
XTerm*faceSize: 15

XTerm.vt100.saveLines: 4096
XTerm.vt100.reverseVideo: true
XTerm.vt100.foreground: black
XTerm.vt100.background: white

URxvt.font: xft:Monospace:pixelsize=18:antialias=true:hinting=true
URxvt.boldFont: xft:Monospace:bold:pixelsize=16:antialias=true:hinting=true
URxvt*termName: rxvt-unicode

# colors
URxvt.color0: #000000
URxvt.color1: #ce1e1e
URxvt.color2: #56bf2a
URxvt.color3: #eef207
URxvt.color4: #443bed
URxvt.color5: #c200c6
URxvt.color6: #00ddcb
URxvt.color7: #424242
URxvt.color8: #666666
URxvt.color9: #f96868
URxvt.color10: #68ff95
URxvt.color11: #e7c547
URxvt.color12: #5998ff
URxvt.color13: #fda8ff
URxvt.color14: #35e0ff
URxvt.color15: #2a2a2a

URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~


