
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
build/
# Byte-compiled / optimized / DLL files
.cache
celerybeat-schedule
# celery beat schedule file
# C extensions
*.cover
.coverage
.coverage.*
coverage.xml
develop-eggs/
dist/
# Distribution / packaging
# Django stuff:
docs/_build/
downloads/
*.egg
*.egg-info/
.eggs/
eggs/
.env
env/
ENV/
# Environments
# Flask stuff:
htmlcov/
.hypothesis/
.installed.cfg
# Installer logs
instance/
.ipynb_checkpoints
# Jupyter Notebook
lib/
lib64/
local_settings.py
*.log
*.manifest
# mkdocs documentation
*.mo
# mypy
.mypy_cache/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
*.pot
# PyBuilder
__pycache__/
*$py.class
*.py[cod]
# pyenv
# PyInstaller
.Python
.python-version
.ropeproject
# Rope project settings
# SageMath parsed files
*.sage.py
.scrapy
# Scrapy stuff:
sdist/
/site
*.so
*.spec
# Sphinx documentation
.spyderproject
# Spyder project settings
.spyproject
target/
.tox/
# Translations
# Unit test / coverage reports
#  Usually these files are written by a python script from a template
var/
.venv
venv/
.webassets-cache
wheels/
