snippet ~ "$HOME [all]"
`!v expand('~')`
endsnippet

snippet e "Euler's Constant [all]"
`!p 
import math 
snip.rv = str(math.e)
`
endsnippet

snippet pi "PI [all]"
`!p 
import math 
snip.rv = str(math.pi)
`
endsnippet
