snippet com "command [vim]"
command! CommandName call s:script_function()
endsnippet

snippet fun "function [vim]"
function! s:function_name()
	" DO STH HERE
endfunction
endsnippet

snippet try "try catch [vim]"
try
	" DO STH HERE
catch /.*/
endtry
endsnippet
