snippet com "command [vim]"
command! CommandName call s:script_function()
endsnippet

snippet fun "function [vim]"
function! ${VISUAL:s:function_name()}
	" DO STH HERE
endfunction
endsnippet

snippet try "try catch [vim]"
try
	" DO STH HERE
catch /.*/
endtry
endsnippet

snippet has "Feature check [vim]"
if has('python3')
	" DO STH
endif
endsnippet

snippet if "If statement [vim]"
if has('python3')
	" DO STH
elseif has('python3')
	" DO STH
else
	" DO STH
endif
endsnippet
