# variables
SHELL=/bin/bash
PATH=/home/norbert/.cabal/bin:/home/norbert/.cargo/bin:/home/norbert/.config/composer/bin:/home/norbert/.config/yarn/global/node_modules/.bin:/home/norbert/.gem/ruby/*/bin:/home/norbert/.local/bin:/home/norbert/.local/share/fzf/bin:/home/norbert/.stack/bin:/home/norbert/go/bin:/usr/bin:/usr/bin/core_perl:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/lib/jvm/default/bin:/usr/local/bin:/usr/local/sbin:

# day of week  (0 -  6) (Sunday=0)
# month        (1 - 12)
# day of month (1 - 31)
# hour         (0 - 23)
# min          (0 - 59)

# Run scripts in ~/.config/cron 
# =============================

# *NOTE* they MUST:
# - be readable
# - be executable

# TEST
# * * * * * echo "[TEST] $(date)" >> /tmp/crontest.txt

# ---------------------------------------------------------------------------------------------------------------------------------------
# Min     Hour    Day     Month   Weekday    Command
# ---------------------------------------------------------------------------------------------------------------------------------------

# Every hour

1         *       *      *       *    find ~/.config/cron/hourly -type f -executable -readable -exec {} + &>/tmp/cron_hourly.log

# Every day at 15:45

46       15       *      *       *    find ~/.config/cron/daily -type f -executable -readable -exec {} + &>/tmp/cron_daily.log

# 15:05 Monday - Friday 
5        15       *      *      1-5   find ~/.config/cron/weekdaily -type f -executable -readable -exec {} + &>/tmp/cron_weekdaily.log


# 15:10, Monday once a week

11       15       *      *       1    find ~/.config/cron/weekly -type f -executable -readable -exec {} + &>/tmp/cron_weekly.log

# 15:15, once a month on the very first day

16       15       1      *       *    find ~/.config/cron/monthly -type f -executable -readable -exec {} + &>/tmp/cron_monthly.log

# 15:25 Monday every other week 
25       15       7      *       *    find ~/.config/cron/fortnightly -type f -executable -readable -exec bash {} + &>/tmp/cron_fortnightly.log
25       15      21      *       *    find ~/.config/cron/fortnightly -type f -executable -readable -exec bash {} + &>/tmp/cron_fortnightly.log


# 15:30 on the Christmas Day

31       15      24     12       *    find ~/.config/cron/yearly -type f -executable -readable -exec {} + &>/tmp/cron_yearly.log 

# reboot
@reboot 			      find ~/.config/cron/reboot -type f -executable -readable -exec {} + &>/tmp/cron_reboot.log
