# variables
SHELL=/bin/bash
PATH=/home/norbert/.cargo/bin:/home/norbert/.gem/ruby/2.4.0/bin:/home/norbert/.gvm/bin:/home/norbert/.local/bin:/home/norbert/.yarn/bin:/usr/bin:/usr/bin/core_perl:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/lib/jvm/default/bin:/usr/local/bin:/usr/local/sbin

# day of week (0 - 6) (Sunday=0)
# month (1 - 12)
# day of        month (1 - 31)
# hour (0 - 23)
# min (0 - 59)

# Run scripts in ~/.cron 
# ======================
# NOTE  they MUST:
# - be readable
# - be executable

# TEST
# * * * * * echo "[TEST] $(date)" >> /home/norbert/crontest.txt

# ---------------------------------------------------------------------------------------------------------------------------------------
# Min     Hour    Day     Month   Weekday    Command
# ---------------------------------------------------------------------------------------------------------------------------------------

# Every hour

1         *       *      *       *    find ~/.cron/hourly -regextype posix-extended -type f -executable -readable -exec {} + &>/tmp/cron.hourly.log

# Every day at 15:45

46       15       *      *       *    find ~/.cron/daily -regextype posix-extended -type f -executable -readable -exec {} + &>/tmp/cron.daily.log

# 15:05 Monday - Friday 
5        15       *      *      1-5   find ~/.cron/weekdaily -regextype posix-extended -type f -executable -readable -exec {} + &>/tmp/cron.weekdaily.log


# 15:10, Monday once a week

11       15       *      *       1    find ~/.cron/weekly -regextype posix-extended -type f -executable -readable -exec {} + &>/tmp/cron.weekly.log

# 15:15, once a month on the very first day

16       15       1      *       *    find ~/.cron/monthly -type f -executable -readable -regex -exec {} + &>/tmp/cron.monthly.log

# 15:25 Monday every other week 
25       15       7      *       *    find ~/.cron/fortnightly -regextype posix-extended -type f -executable -readable -exec bash {} + &>/tmp/cron.fortnightly.log
25       15      21      *       *    find ~/.cron/fortnightly -regextype posix-extended -type f -executable -readable -exec bash {} + &>/tmp/cron.fortnightly.log


# 15:30 on the Christmas Day

31       15      24     12       *    find ~/.cron/yearly -regextype posix-extended -type f -executable -readable -exec {} + &>/tmp/cron.yearly.log 

# reboot
@reboot 			      find ~/.cron/reboot -regextype posix-extended -type f -executable -readable -exec {} + &>/tmp/cron.reboot.log
