priority -50

snippet e "Euler's Constant 2.71 [all]"
`!p 
import math 
snip.rv = str(math.e)
`
endsnippet

snippet pi "PI 3.14 [all]"
`!p 
import math 
snip.rv = str(math.pi)
`
endsnippet

snippet date "Date [all]" 
`date`
endsnippet

snippet #! "Shebang [all]"
#!/usr/bin/env `!v expand("%:e")`
endsnippet

snippet "\(" "Parenthesis [all]" r
(${1:})
endsnippet 

snippet "\[" "Brackets [all]" r
[${1:}]
endsnippet 

snippet "\{" "Braces [all]" r
{${1:}}
endsnippet 
