priority -50

snippet e "Euler's Constant 2.71 [all]"
`!p 
import math 
snip.rv = str(math.e)
`
endsnippet

snippet pi "PI 3.14 [all]"
`!p 
import math 
snip.rv = str(math.pi)
`
endsnippet

snippet date "Date [all]" 
`date`
endsnippet
