priority -50

snippet ol "ordered list (ol) [markup]"
1. $1
endsnippet

snippet al "alphabetic list (al) [markup]"
a) $1
endsnippet

snippet "hr|-{3,}" "----- (hr) [markup]" rb
-----
endsnippet

snippet eg "for example ... (eg) [markup]" 
for example: $1
endsnippet

snippet Eg "For example ... (Eg) [markup]" 
For example: 

  - $1
endsnippet
