priority -50

snippet "server?" "http.createServer" r
http.createServer($1).listen(${2:3000});
endsnippet
 
snippet ncs "net.createServer"
net.createServer(function(${1:socket}){
  $1.on('data', function(${3:data}){$4}); 
  $1.on('end', () => { $5 });
}).listen(${6:8124});
endsnippet

snippet "#!" "Shebang node.js [javascript]" rb
#!/usr/bin/env node --expose-http2 --harmony --harmony_typeof
endsnippet
