snippet "def(ine)?|fu(nct)?" "(define (funct-name args)) [lisp]" r
(define $1 ($2) 
  $3
  )
endsnippet

snippet if "(if (cond) if-true else) [lisp]" 
(if $1 ($2) 
  $3
  )
endsnippet

snippet match "(match ([pat expr])) [lisp]" 
(match $1 (
  [$2 $3]
  ))
endsnippet

snippet "l[ambd]{,5}" "(lambda (arg) body)" r
(lambda (${1:x}) (
  $2
  ))
endsnippet
