extends markup

snippet @ "uset @Tagged [vorg]"
@Task
    :set: 4th of July
    :due: 4th of July
My new assignmment!
Do by tomorrow.
endsnippet

snippet mh "meta Header [vorg]"
Date: `date` 
Author: $AUTHORS
endsnippet
