
snippet if "If statement [zsh]" b
if [[ -${1:x} ${2:$(which pip)} ]]; then
    ${3:# DO STUFF}
fi
endsnippet

snippet fori "For i in ... [zsh]" 
for ${3:i} in ${1:a b c d}; do
    ${4:# DO STUFF}
done
endsnippet

snippet "\[\[" "[[ expr ]] [zsh]" r
[[ ${1:-x} ${2:$(which rustc)} ]] ${3:}
endsnippet

snippet "echo?" "Echo [zsh]" r
echo -e "${1:Say!}"
endsnippet

# vim: ft=snippets 
